@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');
@import './mixin';

body {
    background-color: #141414;
    font-family: 'Jost', sans-serif;
    width: 98vw;
    color: whitesmoke;
    * {
        margin-top: 0.3%;
    }
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #141414;
    @include flex(row);
    justify-content: space-between;
    align-items: center;
    .header-logo {
        @include flex(row);
        align-items: center;
        * {
            padding: 0 10px;
            font-size: 1.2rem;
        }
    }
    .header-buttons {
        @include flex(row);
        margin-right: 25px;
        * {
            padding: 7px 15px;
            font-size: 1rem;
            margin-right: 5px;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
                background-color: rgb(167, 0, 0);
                border-radius: 5px;
            }
        }
    }
}   
main {
    @include flex(column);
    .section-title {
        margin-bottom: 15px;
        #top-text {
            &::after {
                content: "5";
                font-weight: bold;
            }
        }
    }
    .top {
        @include flex(row-reverse);
        justify-content: space-between;
        .top-item {
            width: 100%;
            img {
                width: 98%;
                transition: all 0.2s ease;
                cursor: pointer;
                &:hover {
                    width: 100%;
                }

            }
        }
    }
    .first {
        @media screen and (min-width: 1281px) {
            @include displayShowsDesktop();
        }
    }
    .second {
        @media screen and (min-width: 1401px) {
            @include displayShowsDesktop();
        }
    }
}
@media screen and (max-width: 1400px) {
    header {
        .platform-title {
            display: none;
        }
    }
    main {
        .section-title {
            #top-text::after {
                content: "3";
            }
        }
        @for $i from 4 through 5 {
            #top#{$i} {
                display: none;
            }
        }
        .first {
            @include displayShowsTablet();
        }
        .second {
            @include displayShowsTablet();
        }
    }
}

@media screen and (max-width: 415px) {
    main {
        .section-title {
            font-size: 1.2rem;
            text-align: center;
        }
        .top {
            @include flex(column-reverse);
        }
        .first {
            @include flex(column);
        }
        .second {
            @include flex(column);
        }
    }
}